body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
}

address {
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

a:focus, button:focus, input:focus, textarea:focus {
  outline: none;
  border-color: #2196f3;
  box-shadow: 0 0 5px #2196f3;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

ul, p, h2, button, figure, figcaption {
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.title {
  color: #FFF;
  line-height: 16px;
  text-transform: uppercase;
}

.button {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875; /* 187.5% */
  letter-spacing: 0.96px;
  padding: 10px 32px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  background-color: rgb(33, 150, 243);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

header {
  /* outline: 2px solid burlywood; */
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.header .container {
  display: flex;
  align-items: center;
  gap: clamp(1.875rem, -4.602rem + 32.39vw, 19.688rem);
}

.header__pages {
  display: flex;
  gap: clamp(1.25rem, -0.409rem + 8.3vw, 5.813rem);
}

.logo {
  color: rgb(33, 150, 243);
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header-spacer__logo--studio {
  color: #2F303A;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  gap: 50px;
}

.nav-list__item {
  position: relative;
}

.nav-list__link {
  color: #2F303A;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link:hover {
  color: rgb(33, 150, 243);
}
.nav-list__link::after {
  content: "";
  background-color: #2196f3;
  border-radius: 2px;
  width: 0;
  height: 4px;
  position: absolute;
  top: 45px;
  left: 0;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link:hover::after {
  width: 100%;
}

.contacts {
  display: flex;
  gap: clamp(0.625rem, 0.17rem + 2.27vw, 1.875rem);
}

.contacts__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts__item:hover svg {
  fill: #2196f3;
}

.contacts__icon--email {
  width: 16px;
  height: 12px;
}

.contacts__icon--phone {
  width: 10px;
  height: 16px;
}

.contacts__icon {
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link {
  width: 135px;
  color: rgb(117, 117, 117);
  font-weight: 500;
  letter-spacing: 0.28px;
  margin-left: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover {
  color: rgb(33, 150, 243);
}

.hero {
  background-color: #2F303A;
  padding: 200px 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero2img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__title {
  color: #FFF;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36364; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  display: block;
  width: 696px;
  margin: 0 auto 30px;
}

.rules {
  /* outline: 3px dashed purple; */
  padding: 94px 0;
}

.rules-list {
  display: grid;
  grid-template: none/repeat(4, 270px);
  gap: 30px;
}

.rules-list__title {
  color: #2F303A;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin: 30px 0 10px;
}

.rules-list__text {
  color: rgb(117, 117, 117);
  font-weight: 400;
  line-height: 1.71429; /* 171.429% */
  letter-spacing: 0.42px;
}

.rules-list__item::before {
  content: "";
  display: inline-block;
  background-position: center;
  background-color: #F5F4FA;
  background-repeat: no-repeat;
  width: 270px;
  height: 120px;
  border-radius: 4px;
}

.rules-list__item:nth-child(1)::before {
  content: "";
  background-image: url("../images/anntena1.svg");
}
.rules-list__item:nth-child(2)::before {
  content: "";
  background-image: url("../images/clock1.svg");
}
.rules-list__item:nth-child(3)::before {
  content: "";
  background-image: url("../images/diagram1.svg");
}
.rules-list__item:nth-child(4)::before {
  content: "";
  background-image: url("../images/astronaut1.svg");
}

.about {
  padding: 0 0 94px;
}

.about-list {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  gap: 30px;
}

.about__title {
  color: #2F303A;
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
  margin: 0 0 50px;
}

.about-list__thumb {
  position: relative;
}

.about-list__img {
  width: 370px;
  flex-shrink: 0;
}

.about-list__text {
  font-size: 12px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 113px;
  letter-spacing: 0.03em;
  position: absolute;
  bottom: 0;
}

.team {
  padding: 94px 0;
  background-color: #F5F4FA;
}

.team-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
}

.team-list__item {
  border-radius: 0px 0px 4px 4px;
  background: #FFF;
  padding-bottom: 30px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team__title {
  color: #2F303A;
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
  margin: 50px;
}

.team-list__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  flex-shrink: 0;
  margin-bottom: 30px;
}

.team-list__name {
  color: #2F303A;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

.team-list__work {
  color: rgb(117, 117, 117);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}

.customers {
  padding: 95px 0;
}

.customers__title {
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 59px;
}

.customer-list {
  display: grid;
  grid-template-columns: repeat(6, 170px);
  gap: 30px;
}

.customer-list__item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 17px 30px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-list__item:hover {
  border-color: #2196f3;
  cursor: pointer;
}
.customer-list__item:hover svg {
  fill: #2196f3;
}

.customer-list__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-list__icon:hover {
  fill: #2196f3;
}

.footer {
  /* outline: 2px solid red; */
  padding: 60px 0;
  background-color: #2F303A;
}

.footer .container {
  display: flex;
  align-items: center;
}

.footer .container {
  display: flex;
  align-items: center;
  gap: 70px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
}

.footer-contacts__logo--studio {
  color: #FFF;
}

.address {
  display: flex;
  gap: 9px;
  flex-direction: column;
  width: 230px;
}

.address__city {
  margin: 20px 0 0;
  color: #FFF;
}

.address__contacts {
  color: rgb(117, 117, 117);
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__contacts:hover {
  color: rgb(33, 150, 243);
}

.footer-join__title {
  margin-bottom: 20px;
  letter-spacing: 0.03em;
}

.networks-list {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 44px);
  gap: 10px;
}

.networks-list__item {
  display: inline-block;
  padding: 12px;
  border-radius: 22px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks-list__item:hover {
  background-color: #2196f3;
  cursor: pointer;
}

.netwoks-list__icon--footer {
  fill: #FFF;
  width: 20px;
  height: 20px;
}

.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.subscribe-form__label {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subscribe-form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: rgba(33, 150, 243, 0);
  padding: 13px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__btn {
  position: relative;
  left: 0;
  top: 17px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.subscribe-form__icon {
  width: 21px;
  height: 21px;
  fill: #FFF;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background-color: #FFF;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.moodal-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.modal-list__item {
  width: 448px;
  position: relative;
}

.modal-list__label {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: web-studio-gray;
}

.modal-list__input {
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  margin: 7px 0 10px;
  cursor: pointer;
  padding-left: 41px;
  outline-color: #2196f3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-list__input:hover, .modal-list__input:hover + .modal-list__icon {
  border-color: #2196f3;
  fill: #2196f3;
}

.modal-list__icon {
  width: 13px;
  height: 13px;
  position: absolute;
  left: 14px;
  top: 37px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-list__icon:hover {
  fill: #2196f3;
}

.modal-list__comment {
  margin: 6px 0 10px;
  padding: 11px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  cursor: text;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-list__comment:hover, .modal-list__comment:focus {
  border-color: #2196f3;
}

.modal__accept {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.modal__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: web-studio-gray;
}

.modal__check {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 1px;
  width: 16px;
  height: 15px;
  outline: 1.8px solid #212121;
  position: relative;
  cursor: pointer;
}
.modal__check:checked::after {
  content: "";
  background-image: url("../images/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  outline: 3px solid #2196f3;
  background-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__link {
  text-decoration: underline;
  color: #2196f3;
}

.modal__submit {
  margin: 30px auto 0;
}

.modal__btn-close {
  padding: 8px 11px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  background-color: #FFF;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal__icon-close {
  width: 11px;
  height: 11px;
}
.modal__icon-close:hover {
  fill: #2196f3;
}

@media (max-width: 768px) and (min-width: 481px) {
  .container {
    width: 100%;
  }
  .header {
    padding: 26px 0;
  }
  .logo {
    font-size: 24px;
  }
  .nav-list__link {
    font-size: 14px;
    letter-spacing: 2%;
  }
  .contacts {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(0.313rem, -0.208rem + 1.74vw, 0.625rem);
  }
  .header__pages {
    gap: clamp(1.25rem, -0.295rem + 7.73vw, 5.5rem);
  }
  .header .container {
    gap: clamp(1.875rem, -5rem + 22.92vw, 6rem);
  }
  .hero__title {
    margin: 0 0;
  }
  .hero__btn {
    margin: 30px auto;
  }
  .rules {
    padding: 60px 0;
  }
  .rules__list {
    grid-template-columns: repeat(2, 354px);
  }
  .rules-list__item::before {
    width: 354px;
  }
  .rules-list__title {
    margin: 30px 0 10px;
  }
  .about {
    display: none;
  }
  .team {
    padding: 60px 0;
  }
  .team__list {
    grid-template-columns: repeat(2, 354px);
  }
  .team__title {
    margin: 0 0 30px;
  }
  .customers {
    padding: 60px 0;
  }
  .customer__list {
    grid-template-columns: repeat(3, 226px);
  }
  .customer-list__item {
    width: 226px;
  }
  .customer-list__icon {
    display: block;
    margin: 0 auto;
  }
  .footer-adress__network {
    display: flex;
    gap: 165px;
  }
  .footer .container {
    flex-direction: column;
    gap: 60px;
  }
  .footer-pages__input {
    width: 450px;
  }
  .footer-pages__form {
    flex-direction: column;
    align-items: center;
  }
  .footer__address {
    margin: 20px 0 8px;
  }
  .footer__pages--left {
    align-items: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .footer-pages__btn {
    width: 200px;
  }
  .modal {
    min-width: 450px;
    min-height: 609px;
  }
  .modal-list__item {
    width: 370px;
  }
  .modal-form__text {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 3%;
  }
}/*# sourceMappingURL=main.css.map */