body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
}

address {
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
  border-color: #2196f3;
  box-shadow: 0 0 5px #2196f3;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

ul,
p,
h2,
button,
figure,
figcaption {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.subscribe-form__btn, .footer .container, .contacts__item, .logo,
.header-spacer__logo, .header .container, .networks-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-list, .navigation, .header {
  display: flex;
  justify-content: space-between;
}

.descr-thumb__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.networks-list {
  gap: 10px;
  margin-top: 20px;
}
.networks-list__item {
  padding: 12px;
  border-radius: 22px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks-list__item:hover {
  background-color: s;
}
.networks-list__item:hover svg {
  fill: #fff;
}
.networks-list__icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}
.networks-list__icon:hover {
  fill: #fff;
}

.header {
  padding: 24px 0;
}
.header__pages {
  display: flex;
  gap: clamp(1.25rem, -0.409rem + 8.3vw, 5.813rem);
}
.header .container {
  gap: clamp(1.875rem, -4.602rem + 32.39vw, 19.688rem);
}

.logo,
.header-spacer__logo {
  font-weight: 700;
  font-size: 30px;
  line-height: normal;
  letter-spacing: 0.78px;
  text-align: left;
  color: rgb(33, 150, 243);
  font-family: Raleway, sans-serif;
}

.header-spacer__logo--studio {
  color: #2f303a;
}

.navigation {
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}
.nav-list__item {
  position: relative;
}
.nav-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.28px;
  text-align: left;
  color: #212121;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link:hover {
  color: rgb(33, 150, 243);
}
.nav-list__link::after {
  content: "";
  background-color: #2196f3;
  border-radius: 2px;
  width: 0;
  height: 4px;
  position: absolute;
  top: 45px;
  left: 0;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link:hover::after {
  width: 100%;
}

.contacts {
  display: flex;
  gap: clamp(0.625rem, 0.17rem + 2.27vw, 1.875rem);
}
.contacts__item:hover svg {
  fill: #2196f3;
}
.contacts__icon {
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__icon--email {
  width: 16px;
  height: 12px;
}
.contacts__icon--phone {
  width: 10px;
  height: 16px;
}

.social-link {
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgb(117, 117, 117);
  width: 135px;
  margin-left: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover {
  color: rgb(33, 150, 243);
}

.category {
  padding: 95px 0 50px;
  border-top: 1px solid #ececec;
}

.category-list {
  margin: 0 auto;
  max-width: 575px;
}
.category-list__btn {
  padding: 6px 22px;
  border-radius: 4px;
  background-color: #f5f4fa;
  text-align: center;
  line-height: 1.625;
  letter-spacing: 0.48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.category-list__btn:hover, .category-list__btn:focus {
  border-color: rgb(33, 150, 243);
  background-color: rgb(33, 150, 243);
  color: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  animation: jumpbtn 1s ease infinite alternate;
}

@keyframes jumpbtn {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.descr {
  padding: 0 0 94px 0;
}

.descr-list {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  gap: 32px;
}
.descr-list__item {
  border: 1px solid #eee;
  background: #fff;
  padding: 0 0 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.descr-list__item:hover {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.descr-list__item:hover .descr-thumb__overlay {
  transform: translatey(0);
}
.descr-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.08px;
  text-align: left;
  margin-top: 20px;
  padding-left: 24px;
}
.descr-list__category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
  padding-left: 24px;
}

.descr-thumb {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}
.descr-thumb__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translatey(101%);
  transition: transform 0.5s ease;
}
.descr-thumb__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 62px 23px;
  width: 100%;
  height: 294px;
}

.footer {
  /* outline: 2px solid red; */
  padding: 60px 0;
  background-color: #2f303a;
}
.footer .container {
  gap: 70px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
}
.footer-contacts__logo {
  justify-content: flex-start;
}
.footer-contacts__logo--studio {
  color: #fff;
}

.address {
  display: flex;
  gap: 9px;
  flex-direction: column;
  width: 230px;
}
.address__city {
  margin: 20px 0 0;
  color: #fff;
}
.address__contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.28px;
  text-align: left;
  color: rgb(117, 117, 117);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__contacts:hover {
  color: rgb(33, 150, 243);
}

.footer-join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.03em;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}

.networks-list__item {
  display: inline-block;
  padding: 12px;
  border-radius: 22px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks-list__item:hover {
  background-color: #2196f3;
  cursor: pointer;
}
.networks-list__icon--footer {
  fill: #fff;
  width: 20px;
  height: 20px;
}

.footer-subscribe {
  position: relative;
  left: 0;
  top: 5px;
}

.subscribe-form {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}
.subscribe-form__label {
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.03em;
  text-align: left;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-transform: uppercase;
}
.subscribe-form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: rgba(33, 150, 243, 0);
  padding: 13px 15px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.03em;
  text-align: left;
}
.subscribe-form__btn {
  gap: 10px;
  background-color: #2196f3;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 700;
  padding: 10px 30px;
  line-height: 1.875;
  letter-spacing: 0.96px;
  display: block;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.subscribe-form__icon {
  width: 21px;
  height: 21px;
  fill: #fff;
}/*# sourceMappingURL=portfolio.css.map */