.about {
  padding: 0 0 94px;
  &__title {
    @include text(getColor("project-black"), 700, 36px, base, 0.03em);
    text-align: center;
    margin: 0 0 50px;
  }
}

.about-list {
  @extend %flex-between;
  &__item {
    width: 374px;
  }
  &__thumb {
    width: 370px;
    height: 294px;
    overflow: hidden;
    position: relative;
  }
  &__img {
    @extend %img;
    transition: transform 250ms ease;
    &:hover {
      transform: scale(1.2);
    }
  }
  &__text {
    @include text(getColor("web-studio-white"), 700, 12px, 1.71, 0.03em );
    text-transform: uppercase;
    text-align: center;
    min-width: 370px;
    background-color: getColor("about-list-text");
    padding: 27px 113px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
