.about {
  @media (min-width: 320px) {
    padding: 0 0 94px;
    display: none;
  }
  @media (min-width: 1024px) {
    display: block;
  }
  &__title {
    @media (min-width: 1024px) {
      color: getColor("project-black");
      @include text(36px, 700, $textA: center);
      margin: 0 0 50px;
    }
  }
}

.about-list {
  @media (min-width: 1024px) {
    display: flex;
    gap: 30px;
  }
  &__item {
    @media (min-width: 1024px) {
      flex: 1 1 calc((100% - 60px) / 3);
    }
  }
  &__thumb {
    @media (min-width: 1024px) {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
    }
  }
  &__img {
    @media (min-width: 1024px) {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
      // @extend %img;
      transition: transform 250ms ease;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &__text {
    @media (min-width: 1024px) {
      @include text(12px, 700, $textA: center);
      color: getColor("web-studio-white");
      text-transform: uppercase;
      max-height: 70px;
      min-width: 100%;
      background-color: getColor("about-list-text");
      padding: 27px 0;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
