.about{
  padding: 0 0 94px;
}

.about-list{
  display: grid;
  grid-template-columns: repeat(3, 370px);
  gap: 30px;
  
}
.about__title{
  color: $project-black;
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
  margin: 0 0 50px ;
}
.about-list__thumb{
  position: relative;
}
.about-list__img{
  width: 370px;
  flex-shrink: 0;
}
.about-list__text{
  font-size: 12px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: $web-studio-white;   
  min-width: 370px;
  background-color:$about-list-text;
  padding: 27px 113px ;
  letter-spacing: 0.03em;
  position: absolute;
  bottom:0;
}