.footer-join {
  &__title {
    @include text($fontW: 700, $textA: center);
    color: getColor("web-studio-white");
    text-transform: uppercase;
  }
}
.network-list {
  &__item {
    padding: 12px;
    border-radius: 22px;
    background-color: getColor("footer-network-bg");
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon--footer {
    fill: getColor("web-studio-white");
    max-width: 20px;
    max-height: 20px;
  }
}

@media (min-width: 1200px) {
  .footer-join {
    &__title {
      text-align: left;
    }
  }
}
