.footer-subscribe {
  min-width: 290px;
  max-width: 450px;
  width: 100%;
  @media (min-width: 1200px) {
    max-width: 570px;
  }

  &__title {
    color: getColor("web-studio-white");
    @include text($fontW: 700, $textA: center);
    text-transform: uppercase;
    margin-bottom: 20px;

    @media (min-width:1200px){
      text-align: left;
    }
  }
}
.subscribe-form {
  @extend %flex-center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  @media (min-width: 1200px) {
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    gap: 12px;
  }
  &__input {
    width: 100%;
    height: 50px;
    max-width: 358px;
    border: 1px solid getColor("footer-input-border");
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 getColor("box-shadow-black");
    background-color: getColor("input-backgound");
    padding: 0 16px;
    color: getColor("input-color");
    @include text(16px);
  }
  &__btn {
    display: flex;
    align-items: center;
    gap: 12px;
    @include btn(getColor("svg-hover"), 10px 31px);
    box-shadow: 0px 4px 4px 0px getColor("box-shadow-black");

    @media (min-width: 1200px) {
      @include btn(getColor("svg-hover"), 10px 28px);
    }
  }
  &__icon {
    fill: getColor("web-studio-white");
    max-width: 24px;
    max-height: 24px;

    @media (min-width: 1200px) {
      max-width: 21px;
      max-height: 21px;
    }
  }
}
