.footer-join {
  &__title {
    @include text($fontW: 700);
    color: getColor("web-studio-white");

    text-transform: uppercase;
  }
}
.networks-list {
  &__item {
    display: inline-block;
    padding: 12px;
    border-radius: 22px;
    background-color: getColor("footer-network-bg");
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      background-color: getColor("svg-hover");
      cursor: pointer;
    }
  }
  &__icon--footer {
    fill: getColor("web-studio-white");
    width: 20px;
    height: 20px;
  }
}
