.footer {
  padding: 60px 0;
  background-color: getColor("project-black");

  @media (min-width: 1024px) {
    flex-wrap: wrap;
  }
  .container {
    @extend %flex-center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 60px;

    @media (min-width: 1024px) {
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;
    }
  }
}
