.footer {
    padding: 60px 0;
    background-color: getColor("project-black");

    .container {
      @extend %flex-center;
      flex-wrap: wrap;
      gap: 60px;
    }
  }
@media (min-width: 1024px) {
  .footer {
    
    .container {
      flex-wrap: nowrap;
      gap: 70px;
    }
  }
}