.footer {
  padding: 60px 0;
  background-color: getColor("project-black");

  @media (min-width: 1200px) {
    flex-wrap: wrap;
  }
  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 60px;
    @media (min-width: 1200px) {
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;
    }
  }
}
