.footer-contacts {
  display: flex;
  flex-direction: column;
  &__logo{
    justify-content: flex-start;
  }

  &__logo--studio {
    color: getColor("web-studio-white");
  }
}
.address {
  display: flex;
  gap: 9px;
  flex-direction: column;
  width: 230px;
  &__city {
    margin: 20px 0 0;
    color: getColor("web-studio-white");
  }
  &__contacts {
    // @include text(, 500, 14px, base, 0.28px);
    @include text($fontW: 500, $letterS:0.28px);
    color: getColor("project-grey");
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: getColor("project-blue");
    }
  }
}
