.header {
  @extend %flex-between;
  padding: 24px 0;
  &__pages {
    display: flex;
    gap: clamp(1.25rem, -0.409rem + 8.3vw, 5.813rem);
  }
  & .container {
    @extend %flex-center;
    gap: clamp(1.875rem, -4.602rem + 32.39vw, 19.688rem);
  }
}
.logo,
.header-spacer__logo {
  @include text(getColor("project-blue"), 700, 30px, base, 0.78px);
  font-family: getFont("Raleway");
  @extend %flex-center;
}
.header-spacer__logo--studio {
  color: getColor("project-black");
}
.navigation {
  @extend %flex-between;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 40px;
  &__item {
    position: relative;
  }
  &__link {
    @include text(getColor("project-black"), 500, 14px, normal, 0.28px);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: getColor("project-blue");
    }
    &::after {
      content: "";
      background-color: getColor("svg-hover");
      border-radius: 2px;
      width: 0;
      height: 4px;
      position: absolute;
      top: 45px;
      left: 0;
      transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover::after {
      width: 100%;
    }
  }
}

.contacts {
  display: flex;
  gap: clamp(0.625rem, 0.17rem + 2.27vw, 1.875rem);

  &__item {
    @extend %flex-center;
    &:hover svg {
      fill: getColor("svg-hover");
    }
  }
  &__icon {
    fill: getColor("web-studio-gray");
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon--email {
    width: 16px;
    height: 12px;
  }
  &__icon--phone {
    width: 10px;
    height: 16px;
  }
}

.social-link {
  @include text(getColor("project-grey"), 500, 14px, base, 0.28px);
  width: 135px;
  margin-left: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: getColor("project-blue");
  }
}
