
.header {
  display: flex;
  padding: 16px 0;
}

.logo {
  display: flex;
  flex-wrap: wrap;
}
.logo,
.header-pages__logo {
  @include text(24px, 700, $letterS: 0.78px);
  color: getColor("project-blue");
  font-family: getFont("Raleway");
  @extend %flex-center;
}
.header-pages__logo--studio {
  color: getColor("project-black");
}
.nav-list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    position: relative;
  }
  &__link {
    @include text($fontS: 40px, $fontW: 500, $letterS: 0.28px);
    color: getColor("portfolio-black");
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: getColor("project-blue");
    }
  }
}
.contacts {
  display: flex;
  
  &__item {
    @extend %flex-center;
  }
}
@media (min-width:320px) and (max-width:1023px){
  .contacts__icon{
    display: none;
  }
}
@media (min-width: 1200px) {
  .header {
    padding: 24px 0;
    &__pages {
      display: flex;
      align-items: center;
      gap: clamp(1.25rem, -0.409rem + 8.3vw, 5.813rem);
    }
    & .container {
      // @extend %flex-center;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: clamp(1.25rem, -5.386rem + 33.18vw, 19.5rem);
    }
  }
  .logo,
  .header-pages__logo {
    @include text(30px, 700, $letterS: 0.78px);
  }
  .nav-list {
    gap: 40px;
    &__link {
      @include text($fontS: 14px, $fontW: 500, $letterS: 0.28px);
      &::after {
        content: "";
        background-color: getColor("svg-hover");
        border-radius: 2px;
        width: 0;
        height: 4px;
        position: absolute;
        top: 45px;
        left: 0;
        transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      &:hover::after {
        width: 100%;
      }
    }
  }

  .contacts {
    gap: 21px;
    &__item {
      &:hover svg {
        fill: getColor("svg-hover");
      }
    }

    &__icon {
      fill: getColor("web-studio-gray");
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__icon--email {
      max-width: 16px;
      max-height: 12px;
    }
    &__icon--phone {
      max-width: 10px;
      max-height: 16px;
    }
  }

  .social-link {
    @include text($fontS: 1em, $fontW: 500, $letterS: 0.03em);
    color: getColor("project-grey");
    width: 135px;
    margin-left: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: getColor("project-blue");
    }
  }
}
