.hero{
  background-color: $project-black;
  padding: 200px 0; 
  width: 100%;
  height: 100%;
  background-image:linear-gradient( to right, rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url('../images/hero2img.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__title{ 
  color: $web-studio-white;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height:1.36364; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  display: block;
  width: 696px;
  margin: 0 auto 30px;


}   
