.rules {
  padding: 94px 0;
}
.rules-list {
  @extend %flex-between;
  &__item{
    max-width: 270px;
  }
  &__title {
    @include text($fontW:700);
    color: getColor("portfolio-black");
    text-transform: uppercase;
    margin: 30px 0 10px;
  }
  &__text {
    // @include text(, 400, 14px, 1.71429, 0.42px);
    @include text($fontW:400, $letterS:0.42px, $lineH: 1.71);
    color: getColor("web-studio-gray");
  }
  &__item::before {
    content: "";
    display: inline-block;
    background-position: center;
    background-color: getColor("web-studio-bg");
    background-repeat: no-repeat;
    width: 270px;
    height: 120px;
    border-radius: 4px;
  }
  &__item {
    &:nth-child(1)::before {
      content: "";
      background-image: url("../images/anntena1.svg");
    }
    &:nth-child(2)::before {
      content: "";
      background-image: url("../images/clock1.svg");
    }
    &:nth-child(3)::before {
      content: "";
      background-image: url("../images/diagram1.svg");
    }
    &:nth-child(4)::before {
      content: "";
      background-image: url("../images/astronaut1.svg");
    }
  }
}
