@media (max-width:480px){
  
}
@media (max-width:768px) and (min-width:481px) {
  .container{
    width: 100%;
  }
  .header{
    padding: 26px 0;
  }
  .logo{
    font-size: 24px;
  }
  .nav-list__link{
    font-size: 14px;
    letter-spacing: 2%;
  }
  .contacts{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(0.313rem, -0.208rem + 1.74vw, 0.625rem);
  }
  .header__pages{
    gap: clamp(1.25rem, -0.295rem + 7.73vw, 5.5rem);
  }
  .header .container{
    gap: clamp(1.875rem, -5rem + 22.92vw, 6rem);
  }
  // hero
  .hero__title{
    margin: 0 0;
  }
  .hero__btn{
    margin: 30px auto;
  }
  // rules
  .rules{
    padding: 60px 0;
  }
  .rules__list{
    grid-template-columns: repeat(2,354px);
  }
  .rules-list__item::before{
    width: 354px;
  }
  .rules-list__title{
    margin: 30px 0 10px;
  }
  .about{
    display: none;
  }
  .team{
    padding: 60px 0;
  }
  .team__list{
    grid-template-columns: repeat(2, 354px);
  }
  .team__title{
    margin: 0 0 30px;
  }
  // customer
  .customers{
    padding: 60px 0;
  }
  .customer__list{
    grid-template-columns: repeat(3,226px);
  }
  .customer-list__item{
    width: 226px;
  }
  .customer-list__icon{
    display: block;
    margin: 0 auto;
  }
  .footer-adress__network{
    display: flex;
    gap: 165px;
  }
  .footer .container{
    flex-direction: column;
    gap: 60px;
  }
  .footer-pages__input{
    width: 450px;
  }
  .footer-pages__form{
    flex-direction: column;
    align-items: center;
  }
  .footer__address{
    margin: 20px 0 8px;
  }
  .footer__pages--left{
    align-items: center;
    column-gap: 20px;
  }
  .footer-pages__btn{
    width: 200px;
  }
  // modal
  .modal{
    min-width: 450px;
    min-height: 609px;
  }
  .modal-list__item{
    width: 370px;
  }
  .modal-form__text{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 3%;
  }
  .modal-form__check{
      
  }
}