.team {
  padding: 94px 0;
  background-color: getColor("web-studio-bg");
  &__title {
    // @include text(, 500, 36px, base, 1.08px);
    @include text(36px, 500, $letterS: 1.08px, $textA: center);
    color: getColor("project-black");
    margin: 50px;
  }
}
.team-list {
  @extend %flex-between;
  &__item {
    max-width: 270px;
    border-radius: 0px 0px 4px 4px;
    background: getColor("web-studio-white");
    padding-bottom: 30px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
  &__thumb{
    width: 270px;
    height: 260px;
    margin-bottom: 30px;
  }
  &__img {
    @extend %img;
    
  }
  &__name {
    @include text(16px, 500, $textA:center);
    color: getColor("project-black");
    margin-bottom: 10px;
  }
  &__work {
    @include text(16px, $textA: center);
    color: getColor("project-grey");
  }
}
