@media (max-width:768px){
  .container{
    width: 100%;
  }
  .header{
    padding: 26px 0;
  }
  .logo{
    font-size: 24px;
  }
  .nav-list__link{
    font-size: 14px;
    letter-spacing: 2%;
  }
  .contacts{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(0.313rem, -0.208rem + 1.74vw, 0.625rem);
  }
  .header__pages{
    gap: clamp(1.25rem, -0.295rem + 7.73vw, 5.5rem);
  }
  .header .container{
    gap: clamp(1.875rem, -5rem + 22.92vw, 6rem);
  }
  .descr{
    padding: 60px 0;
  }
  .descr__list{
    grid-template-columns: repeat(2,354px);
  }
  .descr-pages__btn{
    margin-bottom: 30px;
  }
  .footer-adress__network{
    display: flex;
    gap: 165px;
  }
  .footer .container{
    flex-direction: column;
    gap: 60px;
  }
  .footer-pages__input{
    width: 450px;
  }
  .footer-pages__form{
    flex-direction: column;
    align-items: center;
  }
  .footer__address{
    margin: 20px 0 8px;
  }
  .footer__pages--left{
    align-items: center;
    column-gap: 20px;
  }
  .footer-pages__btn{
    width: 200px;
  }
}