::selection {
  background-color: #2196f3;
  box-shadow: 0 0 5px #2196f3;
}

body {
  font-family: getFont("Roboto");
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
}
a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
  border-color: #2196f3;
  box-shadow: 0 0 5px #2196f3;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container {
  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1024px) {
    max-width: 1200px;
  }
  // outline: 2px solid red;
  width: 100%;
  max-width: 767px;
  min-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}
.header,
.main,
.footer {
  min-width: 320px;
}

button {
  cursor: pointer;
  border: none;
}
img {
  display: block;
  width: 100%;
  max-width: 100%;
}
