$project-black:#2F303A;
$project-grey:rgba(117, 117, 117, 1);
$project-blue:rgba(33, 150, 243, 1);
$svg-hover: #2196f3;
$web-studio-white:#FFF;
$web-studio-gray:#757575;
$portfolio-black:#212121;
$web-studio-bgc:#F5F4FA;
$icon-gray:#afb1b8;
$about-list-text:rgba(47, 48, 58, 0.8);
$footer-network-bg:rgba(255, 255, 255, 0.1);
$footer-input-border:rgba(255, 255, 255, 0.3);
$box-shadow-black:rgba(0, 0, 0, 0.15);
$input-color:rgba(255, 255, 255, 0.6);
$input-backgound:rgba(33, 150, 243, 0);