@mixin btn($btn-color, $padd) {
  background-color: $btn-color;
  color: getColor('web-studio-white');
  font-size: 16px;
  border-radius: 4px;
  font-weight: 700;
  padding: $padd;
  line-height: 1.875;
  letter-spacing: 0.96px;
}
@mixin text($fontS: 14px, $fontW: 400, $lineH: normal, $letterS: 0.03em, $textA: left){
  font-weight: $fontW;
  font-size: $fontS;
  line-height: $lineH;
  letter-spacing: $letterS;
  text-align: $textA;
}
